<mat-toolbar color="primary">
    <span>Task Management</span>
</mat-toolbar>

<div class="container">
    <mat-card>
        <mat-card-title>Add a New Task</mat-card-title>
        <mat-card-content>
            <form>
    <div class="input-button-container">
        <mat-form-field>
            <mat-label>Task Description</mat-label>
            <input matInput placeholder="" [(ngModel)]="newTaskDescription" name="description">
        </mat-form-field>
        <button mat-raised-button [disabled]="!newTaskDescription?.length" (click)="addTask()">
            Add Task
        </button>
    </div>
            </form>
        </mat-card-content>
    </mat-card>




    <mat-list role="list" *ngIf="tasks.length > 0">
        <mat-list-item role="listitem" *ngFor="let task of tasks">
            <div matLine>{{task?.description}}</div>
            <button mat-icon-button color="warn" (click)="deleteTask(task.id)" class="delete-button">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-list-item>
    </mat-list>
</div>